In [52]:
import pandas as pd

In [53]:
path = 'C:\\Users\\rhasan\\Downloads\\Tensorflow-Bootcamp\\02-TensorFlow-Basics\\cal_housing_clean.csv'

In [54]:
housing = pd.read_csv(path)

In [55]:
housing.head()

,housingMedianAge,totalRooms,totalBedrooms,population,households,medianIncome,medianHouseValue
0,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0
1,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0
2,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0
3,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0
4,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0

In [56]:
housing.columns

Index(['housingMedianAge', 'totalRooms', 'totalBedrooms', 'population',
       'households', 'medianIncome', 'medianHouseValue'],
      dtype='object')

In [57]:
housing.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
housingMedianAge,20640.0,28.639486,12.585558,1.0000,18.0000,29.0000,37.00000,52.0000
totalRooms,20640.0,2635.763081,2181.615252,2.0000,1447.7500,2127.0000,3148.00000,39320.0000
totalBedrooms,20640.0,537.898014,421.247906,1.0000,295.0000,435.0000,647.00000,6445.0000
population,20640.0,1425.476744,1132.462122,3.0000,787.0000,1166.0000,1725.00000,35682.0000
households,20640.0,499.539680,382.329753,1.0000,280.0000,409.0000,605.00000,6082.0000
medianIncome,20640.0,3.870671,1.899822,0.4999,2.5634,3.5348,4.74325,15.0001
medianHouseValue,20640.0,206855.816909,115395.615874,14999.0000,119600.0000,179700.0000,264725.00000,500001.0000

In [58]:
#features
x_data = housing.drop(['medianHouseValue'],axis=1)

In [59]:
#labels
y_data = housing['medianHouseValue']

In [60]:
x_data.head()

,housingMedianAge,totalRooms,totalBedrooms,population,households,medianIncome
0,41.0,880.0,129.0,322.0,126.0,8.3252
1,21.0,7099.0,1106.0,2401.0,1138.0,8.3014
2,52.0,1467.0,190.0,496.0,177.0,7.2574
3,52.0,1274.0,235.0,558.0,219.0,5.6431
4,52.0,1627.0,280.0,565.0,259.0,3.8462

In [61]:
y_data.head()

0    452600.0
1    358500.0
2    352100.0
3    341300.0
4    342200.0
Name: medianHouseValue, dtype: float64

## Scal Fit Transform Features

In [62]:
#split the data set
from sklearn.model_selection import train_test_split

In [63]:
X_train, X_test, y_train, y_test = train_test_split(x_data, y_data, test_size=0.3, random_state=101)

In [64]:
#feature scaling with MinMaxScaler and transform
from sklearn.preprocessing import MinMaxScaler

In [65]:
scaler = MinMaxScaler()

In [66]:
scaler.fit(X_train)

MinMaxScaler(copy=True, feature_range=(0, 1))

In [67]:
#create data frames
X_train = pd.DataFrame(data=scaler.transform(X_train),columns=X_train.columns,index=X_train.index)

In [68]:
#create data frames 
X_test = pd.DataFrame(data=scaler.transform(X_train),columns=X_train.columns,index=X_train.index)

## Create Tensorflow Feature columns

In [69]:
import tensorflow as tf

In [70]:
housing.columns

Index(['housingMedianAge', 'totalRooms', 'totalBedrooms', 'population',
       'households', 'medianIncome', 'medianHouseValue'],
      dtype='object')

In [71]:
age = tf.feature_column.numeric_column('housingMedianAge')
rooms = tf.feature_column.numeric_column('totalRooms')
bedrooms = tf.feature_column.numeric_column('totalBedrooms')
pop = tf.feature_column.numeric_column('population')
households = tf.feature_column.numeric_column('households')
income = tf.feature_column.numeric_column('medianIncome')

In [72]:
feat_cols = [age,rooms,bedrooms,pop,households,income]

In [73]:
#create input function
input_func = tf.estimator.inputs.pandas_input_fn(x=X_train,y=y_train,batch_size=10,num_epochs=1000,
                                                shuffle=True)

In [74]:
#create a model
model = tf.estimator.DNNRegressor(hidden_units=[10,10,10],feature_columns=feat_cols)

INFO:tensorflow:Using default config.
WARNING:tensorflow:Using temporary folder as model directory: C:\Users\rhasan\AppData\Local\Temp\tmp_pe7b02k
INFO:tensorflow:Using config: {'_log_step_count_steps': 100, '_session_config': None, '_save_checkpoints_secs': 600, '_keep_checkpoint_every_n_hours': 10000, '_save_checkpoints_steps': None, '_tf_random_seed': 1, '_keep_checkpoint_max': 5, '_model_dir': 'C:\\Users\\rhasan\\AppData\\Local\\Temp\\tmp_pe7b02k', '_save_summary_steps': 100}

In [75]:
model.train(input_fn=input_func,steps=2500)

INFO:tensorflow:Create CheckpointSaverHook.
INFO:tensorflow:Saving checkpoints for 1 into C:\Users\rhasan\AppData\Local\Temp\tmp_pe7b02k\model.ckpt.
INFO:tensorflow:loss = 5.04209e+11, step = 1
INFO:tensorflow:global_step/sec: 214.218
INFO:tensorflow:loss = 4.30297e+11, step = 101 (0.483 sec)
INFO:tensorflow:global_step/sec: 182.541
INFO:tensorflow:loss = 4.19849e+11, step = 201 (0.547 sec)
INFO:tensorflow:global_step/sec: 187.47
INFO:tensorflow:loss = 3.77505e+11, step = 301 (0.533 sec)
INFO:tensorflow:global_step/sec: 192.968
INFO:tensorflow:loss = 1.05185e+11, step = 401 (0.534 sec)
INFO:tensorflow:global_step/sec: 184.563
INFO:tensorflow:loss = 6.43483e+10, step = 501 (0.542 sec)
INFO:tensorflow:global_step/sec: 182.875
INFO:tensorflow:loss = 1.1469e+11, step = 601 (0.531 sec)
INFO:tensorflow:global_step/sec: 172.883
INFO:tensorflow:loss = 1.44656e+11, step = 701 (0.594 sec)
INFO:tensorflow:global_step/sec: 221.328
INFO:tensorflow:loss = 6.43584e+10, step = 801 (0.436 sec)
INFO:tensorflow:global_step/sec: 231.365
INFO:tensorflow:loss = 5.47317e+10, step = 901 (0.448 sec)
INFO:tensorflow:global_step/sec: 209.197
INFO:tensorflow:loss = 3.5946e+10, step = 1001 (0.462 sec)
INFO:tensorflow:global_step/sec: 181.547
INFO:tensorflow:loss = 1.14283e+11, step = 1101 (0.566 sec)
INFO:tensorflow:global_step/sec: 165.119
INFO:tensorflow:loss = 8.54756e+10, step = 1201 (0.590 sec)
INFO:tensorflow:global_step/sec: 176.859
INFO:tensorflow:loss = 6.81402e+10, step = 1301 (0.565 sec)
INFO:tensorflow:global_step/sec: 172.883
INFO:tensorflow:loss = 1.35173e+11, step = 1401 (0.578 sec)
INFO:tensorflow:global_step/sec: 154.601
INFO:tensorflow:loss = 1.42638e+11, step = 1501 (0.662 sec)
INFO:tensorflow:global_step/sec: 163.125
INFO:tensorflow:loss = 1.49085e+11, step = 1601 (0.613 sec)
INFO:tensorflow:global_step/sec: 167.891
INFO:tensorflow:loss = 1.06681e+11, step = 1701 (0.580 sec)
INFO:tensorflow:global_step/sec: 167.61
INFO:tensorflow:loss = 6.34171e+10, step = 1801 (0.612 sec)
INFO:tensorflow:global_step/sec: 171.402
INFO:tensorflow:loss = 5.42486e+10, step = 1901 (0.583 sec)
INFO:tensorflow:global_step/sec: 172.466
INFO:tensorflow:loss = 1.48519e+11, step = 2001 (0.580 sec)
INFO:tensorflow:global_step/sec: 171.991
INFO:tensorflow:loss = 1.73699e+11, step = 2101 (0.566 sec)
INFO:tensorflow:global_step/sec: 172.764
INFO:tensorflow:loss = 5.83202e+10, step = 2201 (0.594 sec)
INFO:tensorflow:global_step/sec: 181.086
INFO:tensorflow:loss = 9.42185e+10, step = 2301 (0.552 sec)
INFO:tensorflow:global_step/sec: 173.966
INFO:tensorflow:loss = 2.66058e+11, step = 2401 (0.559 sec)
INFO:tensorflow:Saving checkpoints for 2500 into C:\Users\rhasan\AppData\Local\Temp\tmp_pe7b02k\model.ckpt.
INFO:tensorflow:Loss for final step: 1.07692e+11.

In [76]:
#prediction
predict_input_func = tf.estimator.inputs.pandas_input_fn(x=X_test,
                                                        batch_size=10,
                                                        num_epochs=1,
                                                        shuffle=False)

In [77]:
pred_gen = model.predict(predict_input_func)

In [78]:
predictions = list(pred_gen)

INFO:tensorflow:Restoring parameters from C:\Users\rhasan\AppData\Local\Temp\tmp_pe7b02k\model.ckpt-2500

In [79]:
#calculate MSE

final_preds = []

for pred in predictions:
    final_preds.append(pred['predictions'])

In [80]:
from sklearn.metrics import mean_squared_error

In [81]:
mean_squared_error(y_test,final_preds)**0.5

ValueError: Found input variables with inconsistent numbers of samples: [6192, 14448]